<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fxlmer's Friendship</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/login">wawawawhannnn</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>YaHallo หวาน</h2>
                    <p>พระแม่หวาน ผู้หญิงที่ชั้นรู้สึกว่าคุยด้วยแล้วรู้เรื่องที่สุดแล้ว คุยได้ทุกเรื่องจริงๆ เลยคนนี้ สุดท้ายนี้ขอบอกว่าขอโทษที่เป็นคนเหี้ย แต่ไม่ต้องให้อภัยหรอก</p>
                </div>
                <div class="col-2">
                    <img src="static/images/friendship/film_earn.png" class="image">
                    <!-- <div class="color-box"></div> -->
                    <!-- <div class="add-btn">
                        <img src="images/add.png">
                        <p><small>Go</small></p>
                    </div> -->
                </div>
            </div>
            <div class="social-links">
                <img src="static/images/fb.png">
                <img src="static/images/tw.png">
                <img src="static/images/ig.png">
            </div>
        </div> 
        <script src="static/app.js"></script>
    </body>
</html>