<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fxlmer's Friendship</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/login_style.css">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/login">LOGIN</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
    
                <center>
                <div class="wrapper">
                    <div class="title">Account Login </div>
                        <form method="POST">
                            <div class="field">
                                <input class="input" type="text" name="username" placeholder="Username" required>
                                <label class="label">Username</label>
                            </div>
                    <div class="field">
                        <input class="input" type="password" name="password" placeholder="Password" required>
                        <label class="label">Password</label>
                    </div>
                    <div class="content">
                        <div class="checkbox">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
            <div class="pass-link">
            <a href="#">Forgot password?</a></div>
            </div>
            <div class="field">
                      <input type="submit" value="Login">
                    </div>
            <div class="signup-link">
            Not a member? <a href="#">Signup now</a></div>
            </form>
            </div>
            </center>
                
  

            <div class="social-links">
                <img src="static/images/fb.png">
                <img src="static/images/tw.png">
                <img src="static/images/ig.png">
            </div>
        </div>
    
    <script>
        var menuList = document.getElementById("menuList");
        menuList.style.maxHeight = "0px"
        function togglemenu(){
            if (menuList.style.maxHeight == "0px")
            {
                menuList.style.maxHeight = "130px";
            }
            else
            {
                menuList.style.maxHeight = "0px";
            }
        }
    </script>
      
        
    </body>
</html>